button {
    width: 180px;
    height: 160px;
    background-color: #456;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:medium;
    margin: 5px 5px;
}

h1 {
    color: #654;
}